html {
    box-sizing: border-box;
    
  }
  
  *, ::after, ::before {
    margin: 0;
    padding: 0;
  }
  
  
  body {
      min-height: 100vh;
      margin: 0 auto;
      background-image: url("background.jpg");
      background-position: center;
      background-size: cover;
      color: rgb(18, 27, 40)
  }